$redColor: #d13838;

img {
  max-width: 100%;
  height: auto;
}

.container {
  .box {
    background-color: $redColor;
  }
}

main {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.container {
  display: grid;
  gap: 10px;
  grid-template:
    "header header" 50px
    "aside  main" 1fr
    "aside  footer" 50px /
    200px 1fr;

  header {
    grid-area: header;
    background-color: #b64d4d;
  }

  aside {
    grid-area: aside;
    background-color: #16e998;
  }

  main {
    grid-area: main;
    background-color: #ece358;
  }

  footer {
    grid-area: footer;
    background-color: #e69e34;
  }
}

.pic-box {
  // 最適化するとビルドエラー
  // background: url("too-large.jpg?as=webp&width=200") 0 0 / cover no-repeat;
  width: 200px;
  height: 200px;
}
